@{
    ViewBag.Title = "Alarm";
}

@Scripts.Render("~/bundles/AlarmPromise")

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <button id="set-alarm">Set alarm</button>
            <div id="output"></div>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <button id="set-alarm-async-await">Set alarm Async Await</button>
            <div id="outputAsyncAwait"></div>
        </p>
    </div>
</div>