@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/JavaScriptsAsync")

<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <input id="btnSubmit" type="submit" value="Run" />
        </p>
    </div>
</div>
